@import url('https://fonts.googleapis.com/css?family=Spirax|Vesper+Libre:400,500,700,900');
body{font-size: 100%;
background: #b1c8e3}
*{font-family: 'Vesper Libre', serif}
h1 {
    font-family: Spirax, cursive;
    font-size: 2em;
    color: #760d00;
}
.mayn{
    width: 97%;
    text-align: center;
    font-size: 2.4em;
}
h2{
    font-weight: 900;
    font-size: 1.75em;
    color: #00380d;
}
h3{
    font-weight: 700;
    font-size: 1.5em;
    color: #051360;
}
h4{
    font-weight: 500;
    font-size: 1.25em;
    color: #00380d;
}
h5{
    font-weight: 400;
    font-size: 1em;
    color: #051360;
}
h6{
    font-weight: 400;
    font-size: .75em;
    color: #00380d;
}
p, li{
    font-weight: 400;
    font-size: 1em;
    padding: 0;
    max-width: 55ch;
    color: #760d00;
}
p{ margin: .5em 0;}
a img li{
    border-radius: 1em;
}
li {
    margin: 0;
}
ol{
    padding-left: 2em;
}
blockquote{
    float: left;
    border: .5em ridge #760d00;
    margin: 1em;
    border-radius: 1em;
    padding: .5em;
    max-width: 20ch;
    color: #760d00;
    background-color:#ffffff;
}
a{
    color: #ffffff;
    transition: color 0.5s ease-in-out;
}
a:hover{
    color: #051360;
}
button{
    border-radius: 1em;
    background-color: #051360;
    color: #ffffff;
    font-family: 'Vesper Libre', serif;
    transition: background 0.5s ease-in-out;
    font-size: 1em;
    padding: .5em;

}
.bg_bttn{
    margin-top: .5em;
    padding: 1em;
}

button:hover{
    background-color: #ffffff;
    color: #051360;
    cursor: pointer;
}
.social_media{
    width: 4em;
    height: 4em;
    border: none;
    float: right;
    padding: 0;
    margin: 0;
}
.carousel-fade{
    transition: 0.5s;
}

.carousel{
    padding-top: 1em;

}
.carousel-item h3{
    max-width: 32ch;
}
.carousel img{
    float: none;
    border-radius: 1em;

}
.carousel-caption{
    background-color: rgba(177, 200, 227, 0.7);
    border-radius: 1em;
    z-index: 199;
}
img{
    float: left;
    border-radius: 1em;
    margin: 1em;
    max-width: 90%;
 }
.imgs{
    border: .5em ridge #760d00;
}

.drop-content>a{
    color: #051360;
    background-color: #ffffff;
    text-decoration: none;
    padding: 1em;
    transition: background 0.5s ease-in-out;
}
.drop-content>a:hover, #hvrexmple{
    color: #ffffff;
    background-color: #051360;
}
.blw{
margin: 4.5em 0 7em;
}
.clear{
    clear: both;
}
.icons{
    border: none;
    width: 2em;
    height: 2em;
}
#invsbl{
    display: none;
    left: 21.5em;
}
.dropd{
    position: fixed;
    top: 3.75em;
}
.dropd li:first-child{
    border-radius: 1em 1em 0 0;
}
.dropd li:last-child{
    border-radius: 0 0 1em 1em;
}
.dropd li{
    clear: left;
}
.drpdwn a:hover{
    color: #051360;
}
label{
    color: #760d00;
    padding: 0 0 0 0.5em;
    margin: .5em 0 0;
}
.frm, .custom-select {
    border-radius: 1em!important;
    border: solid .09em #760d00;
}
.frm:focus, .custom-select:focus{
    outline: none!important;
    border:.1em solid #00380d;
}
.text-center{
    text-align: center;
}
.alert{
    color: #00380d!important;
}
.alert-primary{
    border-radius: 1em;
    border: .05em solid #760d00;
}
.npdng{
    padding: 0;
    margin: 0 0.5em;
}
.npdng2{
    padding: 0 0.5em;
    margin-bottom: 0;
}
#n10, #not_repeating{
    margin-left: .5em;
}
#notShow1{
    padding-left: 0!important;
    margin-left: 0!important;
}
#notShow3{
    padding-left: 0!important;
}
#weeks{
    padding-left: 0!important;
    margin-left: 0!important;
}
#every{
    margin-left: 0!important;
    padding-left: 0!important;
}
#price{
    width: 10ch
}
#other{
    margin: 0!important;
}
#nmber{
    width: 7ch;
    margin: 0!important;
    padding-right: 0!important;
}
#umber{
    padding-left: 0;
    margin-left: 0;
}
.d-nne{
    display: none;
}

hr{
    background-color: #760d00;
}
input, textarea, select{border: solid .09em #760d00;
    font-family: 'Vesper Libre', serif;
    font-size: 1em;
margin: .3em;
color: #051360!important;
border-radius: 1em;
padding: .5em;
}
input:focus, textarea:focus, select:focus{
    outline: none;
    border:.1em solid #00380d;
}
input[type="search"]{
    width: 15ch;
    cursor: not-allowed;
}
.crds{
    padding: 0;
    margin: 0;
    width: 4em;
}
.cvv{
    padding: 0;
    margin: 0;
    width: 12em;
}
textarea{
    min-height: 3.5em;
    min-width: 16em;
}

.fav{border: none;
    border-radius: 0;
}
.lo{
    border: none;
    float: none;
}
.ro:focus{
 border: solid .09em #760d00;
}
.ro{
    background-color: #b1c8e3;
}
textarea:read-only{
    max-height: 3.5em;
    max-width: 16em;
}
.menyu{
    padding: 0.3em 0 0 0.3em;
    margin: 0;
    width: 1.1em;
    height: 1.1em;
    float: none;
    position: absolute;
    border-radius: 0;
}
#dro,#dro2,#dro3{
    padding-right: 2em;
}
.merch img{
    border-radius: 1em;
}
.merch{
    margin-top: 2em;
    min-height: 672px;
}
.fad{
    transition: all 0.5s;
    background: url('../img/down.svg') no-repeat;
    background-size: .99em .99em;
    padding: 1em 0;
}
#invsbl1{
    background-position: 4.8em 1.3em
}
#invsbl2{
    background-position: 6em 1.4em;
}
#invsbl3{
    background-position: 7em 1.4em;
}
#invsbl4{
    background-position: 5.2em 1.4em;
}
#invsbl7{
    background-position: 7em 1.4em;
}
#invsbl5{
    display: none;
    left: 30em;
}
#invsbl6{
    display: none;
    left: 39.5em;
}
.fad img{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.fad:hover img{
    opacity: 0;
}
.fad:hover{
    background-color: #ffffff;
}
.fad:hover a{
    color: #051360;

}
.fad a{
    padding: 1em;
    text-decoration: none;
}
.fad{
    border-radius: 1em;
}
.wid{
    min-width: 8em;
}

.fltlft{
    float: left;
}
.small_logo{
    float: left;
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0 .5em 0;
}
.cntr{
    text-align: center;
}
.footer_div{
    padding-top: .5em;
    background-color: #ffffff;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_logo{
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0 .5em 0 0;
}
.navbar-toggler{
    border: .1em solid #ffffff!important;
    border-radius: 1em;
}

.blw{
    padding-top: 2em;
}
.navbar-brand{
    padding: 0;
    margin: 0;
    font-family: Spirax, cursive;
}
.bg-dark{
    background-color: #051360!important;
}
.nav-item{
    margin-left: .5em;
    border-radius: 1em;
    transition: background-color 0.5s ease-in-out;
}

.nav-item:hover{
    background-color: #ffffff!important;
}
.nav-link{
    font-size: 1.1em;
    color: #ffffff!important;
}
.nav-link:hover{
    color: #051360!important;
}
.dropdown{
    transition: color 0.5s ease-in-out;
}
.card-body .dropdown-menu .dropdown-item{
    cursor: not-allowed;
}
.card-body .show{
    z-index: 199;
}
.btn{
    background-color: #051360!important;
    color: #ffffff!important;
    border-radius: 1em;
    transition: background-color 0.5s ease-in-out;
    border: .1em solid #760d00!important;
}
.btn:hover{
    background-color: #ffffff!important;
    color: #051360!important;
    border: .1em solid #760d00!important;
}
.dropdown-menu{
    border-top: none;
    border-radius: 1em;
}
.dropdown-item{
    transition: background-color 0.5s ease-in-out;
    border-radius: 1em;
    color: #051360;
}
.dropdown-item:hover{
    background-color: #051360;
    color: #ffffff;
}
#active{
    background-color: #ffffff!important;
    color: #00380d!important;
}
#active a{
    font-weight: 600;
    color: #00380d!important;
}
#active #not a{
    color: #051360!important;
}

.active{
    background-color: #ffffff!important;
    color: #00380d!important;
}
.active a{
    font-weight: 600;
    color: #00380d!important;
}
.active a:hover{
    color: #00380d!important;
}
.carousel-item{
    background-color: transparent!important;
}
.donat{
    font-family: Spirax, cursive;
}
.navbar-collapse{
    color: #ffffff;
}
.blu{
    color: #051360!important;
}
.img-fluid{
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.hovr{
    position: absolute;
    margin: 1.5%;
    padding: 1em;
    background-color: rgba(177, 200, 227, 0.7);
    border-radius: 1em;
}

footer p{
    padding-top: .5em;
}

.navbar-toggler{
    display: block;
    width: 55px;
    height: 40px;
    background: url("../img/hamburger_menu.svg") no-repeat .5em;
    background-size: 1.5em 1.5em;
}
.navbar-toggler:hover{
    background-image: url("../img/hamburger_menu_active.svg");
    background-size: 1.5em 1.5em;

}
.srch{
    width: 3em;
    height: 3em;
    background: url("../img/search_active.svg") no-repeat .5em;
    background-size: 2em 2em;
}
.srch:hover{
    background-image: url("../img/search.svg");
}

#twttr img {
    margin:0 17em;
    position:absolute;
    height:4em;
    /*position:absolute;*/
    /*left:0;*/
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#twttr img.top:hover {
    opacity:0;
}

#snpcht img{
    margin: 0 25em;
    position: absolute;
    height: 4em;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#snpcht img.top:hover{
    opacity: 0;
}
#instgrm img{
    margin: 0 21em;
    position: absolute;
    height: 4em;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#instgrm img.top:hover{
    opacity: 0;
}
footer{
    z-index: 200;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.5em;
}
#carousel-controls2, #carouselControls{
    cursor: pointer!important;
}
.carousel-fade .active{
    background-color: transparent;
}

.carousel-item-indent{
    padding-left: 7em;
    padding-right: 7em;
}

.crsl_img{
    width: 4em;
    height: 4em;
    padding: 0;
    margin: 0;
}
.carousel-caption{
    padding: 1em 0 0;
}
.carousel-control-next, .carousel-control-prev{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.carousel-control-prev:hover, .carousel-control-prev:hover{
    opacity: 1;
}
.inflnk{
    margin-top: 3.7em;
}
.card{
    max-width: 55ch;
    border-radius: 1em;
}
.no{
    background-color: #708de3!important;
    cursor: not-allowed!important;
    border-radius: 1em;
}
.no:hover{
    background-color: #708de3!important;
    color: #ffffff!important;
}

.no-no:hover{
    color: #051360!important;
}

input[type=search]:hover{
border: #760d00!important;
}


.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion-option .toggle-accordion:before {
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}
@media only screen and (max-width: 1199px) {
    .nav-link {
        padding-left: 1em !important;
    }
    .nav-item{
        margin-top: .5em;
    }
    .donat{
        padding-left: 1em !important;
    }
    #twttr img{
        margin: 0 12em;
    }

    #instgrm img{
        margin: 0 16em;
    }
    #snpcht img{
        margin: 0 20em;
    }
    .inflnk{
        margin-top: 0;
    }
    #amex{
        padding-left: 1em;
    }
}

@media only screen and (max-width: 991px) {
    .cntr {
        padding-top: 0;
    }
    #twttr img{
        margin: 0 10em;
    }
    #instgrm img{
        margin: 0 14em;
    }
    #snpcht img{
        margin: 0 18em;
    }
    .carousel-item-indent{
        padding-left: 5em;
        padding-right: 5em;
    }
    .carousel-item h2{
        max-width: 18ch
    }
    #amex{
        padding-left: 2em;
    }
}

@media only screen and (max-width: 909px){
    #twttr img{
        margin: 0 7em;
    }
    #instgrm img{
        margin: 0 11em;
    }
    #snpcht img{
        margin: 0 15em;
    }

}
@media only screen and (min-width: 768px) {
    #notShow3{
        margin-left: 0!important;
    }
}

@media only screen and (max-width: 767px){
    footer p{
        padding-top: 0;
        margin-top: 0;
    }
    .blw{
        margin-bottom: 8em;

    }
    #twttr img{
        margin: 0 5em;
    }
    #instgrm img{
        margin: 0 9em;
    }

    #snpcht img{
        margin: 0 13em;
    }
    .carousel-item-indent{
        padding-left: 4.5em;
        padding-right: 4.5em;
    }

    #other{
        margin-left: .5em!important;
    }
    #num100{
        margin-right: .2em;
    }
    #amex{
        padding-left: 1em;
    }
    #notShow1{
        padding-right: 7em;
    }
    #notShow3{
        margin-left: .5em;
    }
    .card{
        min-height: 0;
    }

}

 @media only screen and (max-width: 699px) {
    #twttr img {
        margin: 0 3em;
    }

    #instgrm img {
        margin: 0 7em;
    }

    #snpcht img {
        margin: 0 11em;
    }
}
    @media only screen and (max-width: 640px) {
        #twttr img {
            margin: 0;
        }

        #instgrm img {
            margin: 0 4em;
        }

        #snpcht img {
            margin: 0 8em;
        }

    }

    @media only screen and  (max-width: 575px) {
        .cntr {
            margin-top: .5em;
            text-align: left;
        }

        footer {
            padding-bottom: 4.5em;
        }

        .wpnp {
            padding-top: .4em;
        }

        .blw {
            margin-bottom: 12em;
        }
    }
    @media only screen and (max-width: 559px) {
        #notShow1{
            padding-right: 10em;
        }
    }

    @media only screen and (max-width: 541px) {
        #indnt {
            max-width: 23ch;
        }

    }
    @media only screen and (max-width: 526px) {
        .carousel h2 {
            max-width: 20ch;
        }
    }
    @media only screen and (max-width: 512px)  {
        #notShow1{
            padding-right: 6em;
        }

    }
    @media only screen and (max-width: 498px) {
        .carousel h3 {
            max-width: 10.5em;
        }
    }

@media screen and (max-width: 463px){
    #notShow1{
        padding-right: 2em;
    }
}
@media only screen and (max-width: 415px) {
    #othrs{
        margin-left: 1em;
    }
}
@media only screen  and (max-width: 413px){
    #dntn_tg{
        margin:0 auto;
        max-width: 20ch;
    }
}
@media only screen and (max-width:410px) {
    #n100 {
        margin-left: .5em;
    }
    #other{
        margin-left: 0;
    }
}
    @media only screen and (max-width: 405px) {
        #lft {
            margin-right: 5em;
        }
    }